MAINNET_ENDPOINT=https://solana-mainnet.g.alchemy.com/v2/qZuycwS2f70uco60wZTbnluiw5PW3xJd
PAYER_SECRET_KEY=base58_private_key_here
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxx
TOKEN_MINT=TheSPLTokenMintAddressHere
TOKEN_NAME=JackpotEx
PRIZE_LAMPORTS=100000000
RESERVE_LAMPORTS_FOR_FEES=50000000
ALON_PUBKEY=AlonsWalletPubkeyHere
JACKPOT_WEBSITE_URL=https://your-domain.com
CRON_SECRET=super-long-random-for-cron
MANUAL_TRIGGER_SECRET=another-super-long-for-dev-manual
KV_MODE=auto
FORCE_SHOW_COUNTDOWN=true
